@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .title {
    @apply text-3xl font-bold;
  }
  .second-title {
    @apply text-2xl font-medium;
  }
  .third-title {
    @apply text-xl font-medium;
  }
  .subtitle {
    @apply text-lg font-normal leading-6;
  }
  .marketing-title {
    @apply text-4xl font-extrabold;
  }
  .marketing-second-title {
    @apply text-3xl font-semibold;
  }
  .marketing-third-title {
    @apply text-xl font-medium;
  }
  .marketing-subtitle {
    @apply text-lg font-normal;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%; /* #ffffff */
    --foreground: 0 0% 4%; /* #0a0a0a neutral-950 */
    --card: 0 0% 100%; /* #ffffff */
    --card-foreground: 0 0% 4%; /* #0a0a0a neutral-950 */
    --popover: 0 0% 100%; /* #ffffff */
    --popover-foreground: 0 0% 4%; /* #0a0a0a neutral-950 */
    --primary: 19 100% 58%; /* #ff6d2a */
    --primary-foreground: 0 0% 100%; /* #ffffff */
    --secondary: 0 0% 90%; /* #e5e5e5 neutral-200 */
    --secondary-foreground: 0 0% 9%; /* #171717 neutral-900 */
    --muted: 0 0% 96%; /* #fafafa neutral-100 */
    --muted-foreground: 0 0% 45%; /* #737373 neutral-500 */
    --accent: 0 0% 96%; /* #fafafa neutral-100 */
    --accent-foreground: 0 0% 9%; /* #171717 neutral-900 */
    --destructive: 0 84.2% 60.2%; /* EF4444 */
    --destructive-foreground: 0 0% 98%; /* #fafafa neutral-50 */
    --border: 0 0% 90%; /* #e5e5e5 neutral-200 */
    --input: 0 0% 90%; /* #e5e5e5 neutral-200 */
    --ring: 19 100% 58%; /* #ff6d2a */
    --radius: 0.75rem;
  }

  .dark {
    --background: 0 0% 9%; /* #171717 neutral-900 */
    --foreground: 0 0% 100%; /* ffffff */
    --card: 0 0% 9%; /* #171717 neutral-900 */
    --card-foreground: 0 0% 100%; /* ffffff */
    --popover: 0 0% 9%; /* #171717 neutral-900 */
    --popover-foreground: 0 0% 100%; /* ffffff */
    --primary: 19 100% 55%; /* #ff6319 */
    --primary-foreground: 0 0% 100%; /* ffffff */
    --secondary: 0 0% 25%; /* #404040 neutral-700 */
    --secondary-foreground: 0 0% 100%; /* ffffff */
    --muted: 0 0% 25%; /* #404040 neutral-700 */
    --muted-foreground: 0 0% 64%; /* #a3a3a3 neutral-400 */
    --accent: 0 0% 25%; /* #404040 neutral-700 */
    --accent-foreground: 0 0% 100%; /* ffffff */
    --destructive: 0 72.2% 50.6%; /* #dc2626 */
    --destructive-foreground: 0 0% 100%; /* ffffff */
    --border: 0 0% 25%; /* #404040 neutral-700 */
    --input: 0 0% 25%; /* #404040 neutral-700 */
    --ring: 19 100% 55%; /* #ff6319 */
  }
}

@layer base {
  * {
    @apply border-border ring-ring;
  }
  body {
    @apply scroll-smooth bg-background text-sm text-foreground selection:bg-primary/50;
  }
}
