@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 96%; /* #f5f5f5 neutral-100 */
    --foreground: 0 0% 9%; /* #171717 neutral-900 */
    --card: 0 0% 100%; /* #ffffff white */
    --card-foreground: 0 0% 9%; /* #171717 neutral-900 */
    --popover: 0 0% 100%; /* #ffffff white */
    --popover-foreground: 0 0% 9%; /* #171717 neutral-900 */
    --primary: 19 100% 58%; /* #ff6d2a */
    --primary-foreground: 0 0% 96%; /* #f5f5f5 neutral-100 */
    --secondary: 0 0% 90%; /* #e5e5e5 neutral-200 */
    --secondary-foreground: 0 0% 15%; /* #262626 neutral-800 */
    --muted: 0 0% 90%; /* #e5e5e5 neutral-200 */
    --muted-foreground: 25 5.3% 44.7%;
    --accent: 0 0% 90%; /* #e5e5e5 neutral-200 */
    --accent-foreground: 0 0% 15%; /* #262626 neutral-800 */
    --destructive: 0 84.2% 60.2%; /* EF4444 */
    --destructive-foreground: 0 0% 96%; /* #f5f5f5 neutral-100 */
    --border: 0 0% 90%; /* #e5e5e5 neutral-200 */
    --input: 0 0% 90%; /* #e5e5e5 neutral-200 */
    --ring: 19 100% 58%; /* #ff6d2a */
    --radius: 0.75rem;
  }

  .dark {
    --background: 0 0% 9%; /* #171717 neutral-900 */
    --foreground: 0 0% 96%; /* #f5f5f5 neutral-100 */
    --card: 0 0% 9%; /* #171717 neutral-900 */
    --card-foreground: 0 0% 96%; /* #f5f5f5 neutral-100 */
    --popover: 0 0% 9%; /* #171717 neutral-900 */
    --popover-foreground: 0 0% 96%; /* #f5f5f5 neutral-100 */
    --primary: 19 100% 55%; /* #ff6319 */
    --primary-foreground: 0 0% 96%; /* #f5f5f5 neutral-100 */
    --secondary: 0 0% 15%; /* #262626 neutral-800 */
    --secondary-foreground: 0 0% 9%; /* #e5e5e5 neutral-50 */
    --muted: 0 0% 15%; /* #262626 neutral-800 */
    --muted-foreground: 24 5.4% 63.9%;
    --accent: 0 0% 15%; /* #262626 neutral-800 */
    --accent-foreground: 0 0% 96%; /* #f5f5f5 neutral-100 */
    --destructive: 0 72.2% 50.6%; /* #dc2626 */
    --destructive-foreground: 0 0% 96%; /* #f5f5f5 neutral-100 */
    --border: 0 0% 15%; /* #262626 neutral-800 */
    --input: 0 0% 15%; /* #262626 neutral-800 */
    --ring: 19 100% 55%; /* #ff6319 */
  }
}

@layer base {
  * {
    @apply border-border;
  }
}
